name: Try to upload

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: wget
      run: mkdir ci-bin/ && wget -O ci-bin/cr http://repo.calcit-lang.org/binaries/linux/cr
    - name: "permission"
      run: chmod +x ci-bin/cr

    - name: "prepare modules"
      run: >
        mkdir -p ~/.config/calcit/modules/ && cd ~/.config/calcit/modules/
        && git clone https://github.com/calcit-lang/lilac.git
        && git clone https://github.com/calcit-lang/memof.git
        && git clone https://github.com/calcit-lang/recollect.git
        && git clone https://github.com/Respo/respo.calcit.git
        && git clone https://github.com/Respo/respo-ui.calcit.git
        && git clone https://github.com/Respo/respo-message.calcit.git
        && git clone https://github.com/Cumulo/cumulo-util.calcit.git
        && git clone https://github.com/Cumulo/cumulo-reel.calcit.git
        && git clone https://github.com/mvc-works/ws-edn.calcit.git
        && git clone https://github.com/Respo/respo-feather.calcit.git
        && git clone https://github.com/Respo/alerts.calcit.git

    - name: "compiles to js"
      run: >
        ./ci-bin/cr --emit-js --once --emit-path out-page/
        && ./ci-bin/cr --emit-js --once --init-fn cumulo-reel.server/main! --reload-fn cumulo-reel.server/reload!

    - run: ./ci-bin/cr --emit-js --once
    - run: ./ci-bin/cr --emit-js --once --init-fn app.client/main! --reload-fn app.client/reload! --emit-path out-page

    - run: yarn && yarn release-page && yarn release-server

    - run: mkdir -p dist-server && mv js-out/bundle.js dist-server && cp package.json dist-server/
      name: Copy server scripts

    - name: Upload web assets
      id: deploy
      uses: Pendect/action-rsyncer@v1.1.0
      env:
        DEPLOY_KEY: ${{secrets.rsync_private_key}}
      with:
        flags: '-avzr --progress'
        options: ''
        ssh_options: ''
        src: 'dist/*'
        dest: 'rsync-user@tiye.me:/web-assets/repo/${{ github.repository }}'

    - name: Display status from deploy
      run: echo "${{ steps.deploy.outputs.status }}"

    - name: Upload server script
      id: deploy-server
      uses: Pendect/action-rsyncer@v1.1.0
      env:
        DEPLOY_KEY: ${{secrets.rsync_private_key}}
      with:
        flags: '-avzr --progress'
        options: ''
        ssh_options: ''
        src: 'dist-server/*'
        dest: 'rsync-user@tiye.me:/servers/paste-sharing/'

    - name: Display status from deploy
      run: echo "${{ steps.deploy-server.outputs.status }}"
